.btnOrangeAsquare{
    background-color: #fe8e2f;
    color: white;
    height: 50px;
    width: 50px;    
    border-radius: 10px;
    margin: 1px;
}

.btnOrangeArecSmall {
    background-color: #fe8e2f;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}

.btnOrangeBsquare{
    background-color: #ff6201;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 1px;
}

.btnOrangeBrecSmall {
    background-color: #ff6201;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}