/* Orange shade 1*/
.ftrOrangeA{
    margin: 0;
    background-color: #fe8e2f;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
}

/*shade 2 */
.ftrOrangeB{
    margin: 0;
    background-color: #ff6201;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;  
}