.hdrOrangeAA{
    margin: 0;
    color: white;
    background-color: #fe8e2f;
    position: fixed;
    width: 100%;
    height: 60px;
}

.hdrOrangeAB{
    margin: 0;
    color: white;
    background-color: #fe8e2f;
    position: relative;
    width: 100%;
    height: 60px;
}

.hdrOrangeBA{
    margin: 0;
    color: white;
    background-color: #ff6201;
    position: fixed;
    width: 100%;
    height: 60px;
}

.hdrOrangeBB{
    margin: 0;
    color: white;
    background-color: #ff6201;
    position: relative;
    width: 100%;
    height: 60px;
}


