.content{
    left: 0;
    overflow: scroll;
}

.unj-sidebar-docs{
    width: 250px;
    height: 100%;
    right: 0;
    margin-right: 1px;
    text-align: center;

}

.unj-sidebar-docs-item{
    width: 250px;
    height: 35px;
    font-size: 20;
    color: black;
    overflow: scroll;
}

.unj-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .unj-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .unj-sidebar a:hover {
    color: #f1f1f1;
  }
  
  .unj-sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .unj-openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .unj-openbtn:hover {
    background-color: #444;
  }
  
  #body {
    transition: margin-left .5s;
    padding: 16px;
  }
  /*
  <div class="unj-sidebar">
  <a href="javascript:void(0)" class="unj-closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="body">
  <button class="unj-openbtn" onclick="openNav()">☰ Open Sidebar</button>  
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
</div>
  */