.btnDarkAsquare{
    background-color: #ffffff;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 1px;
}

.btnDarkArecSmall {
    background-color: #ffffff;
    color: black;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}

.btnDarkBsquare{
    background-color: #ebebeb;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 1px;
}

.btnDarkBrecSmall {
    background-color: #ebebeb;
    color: black;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}