/* white*/
.ftrDarkA{
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
}

/*grayish white*/
.ftrDarkB{
    margin: 0;
    background-color: #ebebeb;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;  
}


