.btnDarkAsquare{
    background-color: #1261ad;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 1px;
}

.btnDarkArecSmall {
    background-color: #1261ad;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}

.btnDarkBsquare{
    background-color: #0e1c2a;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 1px;
}

.btnDarkBrecSmall {
    background-color: #0e1c2a;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}