#orangeLight{
    background-color: #fe8e2f;
}

#orangeDark{
    background-color: #ff6201;
}

#blueDark{
    background-color: #0e1c2a;
}

#blueMid{
    background-color: #1261ad;
}

#blueLight{
    background-color: #00ABF0;
}

#blueLightLight{
    background-color: #add8e6;
}

#white{
    background-color: #ffffff;
}

#whiteGray{
    background-color: #ebebeb;
}

#mindustry{
    background-color: black;
    border: 3px solid #ffd37f;
}