/* Dblue*/
.hdrDarkAA{
    margin: 0;
    color: white;
    background-color: #add8e6;
    position: fixed;
    width: 100%;
    height: 60px;
}

.hdrDarkAB{
    margin: 0;
    color: white;
    background-color: #add8e6;
    position: relative;
    width: 100%;
    height: 60px;
}

/*black/very Dblue*/
.hdrDarkBA{
    margin: 0;
    color: white;
    background-color: #00ABF0;
    position: fixed;
    width: 100%;
    height: 60px;
}

.hdrDarkBB{
    margin: 0;
    color: white;
    background-color: #00ABF0;
    position: relative;
    width: 100%;
    height: 60px;
}


